body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
/*слайдер slick*/
.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.slick-dots li button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  background: #fff;
  font-size: 0;
  cursor: pointer;
}
.slick-dots li {
  position: relative;
  margin-right: 17px;
}
.slick-active::before {
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  box-sizing: border-box;
  content: "";
  top: 16px;
  left: 5px;
  background-color: transparent;
  position: absolute;
}
.posr {
  position: relative;
}
.slider__controls {
  position: absolute;
  top: 71.2%;
  left: 46.4%;
}
/*основная страница*/
.main-header {
  background-color: #eeeeee;
}
.main-logo {
  line-height: 0;
}
.main-logo img {
  width: 160px;
  height: 65px;
}
.main-logo:hover {
  opacity: 0.8;
}
.main-logo:active {
  opacity: 0.3;
}
.main-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-top: 49px;
  text-transform: uppercase;
  justify-content: space-between;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.main-navigation li {
  margin-right: 46px;
  padding-top: 26px;
  box-sizing: border-box;
  position: relative;
}
.main-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}
.main-navigation a:active,
.user-navigation a:active {
  color: #000;
  opacity: 0.3;
}
.main-navigation--current::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 5px;
  left: 0;
  background-color: #fb565a;
}
.user-navigation {
  padding-top: 26px;
  padding-left: 40px;
  position: relative;
}
.user-navigation a::before {
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  position: absolute;
  left: 0;
  top: 33px;
}
/*стилизация слайдера*/
.wrapper-slider {
  background-color: #eeeeee;
}
.slider__slide1 {
  background-image: url("../img/slide-1bg.png");
  background-repeat: no-repeat;
  background-position: 431px 18px;
  min-height: 431px;
}
.slider__slide2 {
  background-image: url("../img/slide-2bg.png");
  background-repeat: no-repeat;
  background-position: 496px 1px;
  min-height: 431px
}
.slider__slide3 {
  background-image: url("../img/slide-3bg.png");
  background-repeat: no-repeat;
  background-position: 401px 19px;
  min-height: 431px;
}
.slider h3 {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding: 0;
  padding-top: 78px;
  margin-bottom: 26px;
}
.slider p {
  margin: 0;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 39px;
  color: #283136;
}
.btn {
  display: block;
  width: 240px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #fb565a;
}
.slider-btn {
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.slider-btn:hover {
  background-color: #e74246;
  border-color: #e74246;
}
.slider-btn:active {
  background-color: #d7373b;
  border-color: #d7373b;
  border-top-color: #c13135;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
}
/*block-services*/
.services {
  min-height: 507px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}
.services ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}
.services li {
  width: 300px;
  padding-top: 80px;
  margin-right: 100px;
}
.services li:nth-child(3n) {
  margin-right: 0;
}
.services img {
  margin-bottom: 25px;
}
.services h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 16px;
}
.services p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding-right: 50px;
  margin-bottom: 32px;
  font-weight: 400;
  color: #283136;
}
.services .btn {
  width: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn--green {
  background-color: #00ca74;
  border-color: #00ca74;
}
.btn--yellow {
  background-color: #efc84a;
  border-color: #efc84a;
}
.btn--red:hover {
  background-color: #e74246;
}
.btn--green:hover {
  background-color: #00bc6c;
}
.btn--yellow:hover {
  background-color: #e5a722;
}
.btn--red:active {
  background-color: #d7373b;
  border-color: #d7373b;
  border-top-color: #c13135;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
}
.btn--green:active {
  background-color: #00aa62;
  border-color: #00aa62;
  border-top-color: #009958;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
}
.btn--yellow:active {
  background-color: #e5a722;
  border-color: #e5a722;
  border-top-color: #ce961f;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
}
/* блок о нас*/
.about-us {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
}
.about-us__intro {
  width: 680px;
  min-height: 485px;
}
.about-us__intro b {
  display: block;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  padding-top: 34px;
  margin-bottom: 34px;
}
.about-us__intro p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 38px;
  color: #283136;
}
.about-us__intro h4 {
  margin: 0;
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.about-us__intro ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: #283136;
}
.about-us__intro li {
  padding-left: 37px;
  margin-bottom: 23px;
  position: relative;
}
.about-us__intro li:last-child {
  margin-bottom: 0;
}
.about-us__intro li::before {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  left: 1px;
  top: 50%;
}
.about-us__brief {
  width: 360px;
  min-height: 485px;
}
.about-us__brief img {
  width: 360px;
  height: 208px;
  margin-bottom: 26px;
}
.about-us__brief p {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about-us__table {
  border-collapse: collapse;
}
.about-us__table span {
  vertical-align: super;
  font-size: 24px;
  line-height: 10px;
}
.about-us__table tr {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.about-us__table tr:last-child {
  color: #283136;
}
.about-us__table tr:first-child {
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
}
.about-us__table td {
  width: 120px;
  padding-bottom: 19px;
}
/*partners*/
.partners {
  padding-top: 46px;
  padding-bottom: 44px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}
.partners ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.partners__list {
  width: 260px;
  height: 90px;
  margin-right: 40px;
  position: relative;
}
.partners__link {
  display: block;
  height: 90px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
}
.partners__list::after {
  content: "";
  width: 2px;
  height: 52px;
  position: absolute;
  top: 50%;
  transform: translateY(-26px);
  right: -21px;
  background-color: #eeeeee;
}
.partners__list:last-child::after {
  display: none;
}
.partners__list:last-child {
  margin-right: 0;
}
.partners__link:hover {
  opacity: 1;
}
.partners__link:active {
  opacity: 0.1;
}
.map {
  position: relative;
  min-height: 416px;
}
.map-container {
  padding-top: 54px;
}
.write-us {
  background-color: #fff;
  width: 320px;
  padding: 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.write-us b {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 22px;
}
.write-us p {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  box-sizing: border-box;
  padding-right: 10px;
  color: #666;
}
.write-us p:first-of-type {
  margin-bottom: 19px;
}
.write-us .write-us__tel {
  margin-bottom: 36px;
}
.btn-write-us {
  padding-left: 43px;
  padding-right: 39px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  width: 219px;
}
.btn-write-us:hover {
  background-color: #e74246;
}
.btn-write-us:active {
  background-color: #d7373b;
  border-color: #d7373b;
  border-top-color: #c13135;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
  padding-bottom: 14px;
}
.map-absolute {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
/*footer*/
.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.main-footer {
  padding-top: 69px;
  padding-bottom: 69px;
}
.social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.social li {
  margin-right: 12px;
}
.social li:last-child {
  margin-right: 0;
}
.social-btn {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: block;
  position: relative;
}
.soc-svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.social-btn:hover {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
}
.social-btn:active .soc-svg {
  opacity: 0.3;
  fill: #e37376;
}
.footer-friends {
  margin-left: 140px;
}
.footer-friends b {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 5px;
  margin-bottom: 10px;
}
.footer-friends p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
/*POPUP*/
.modal-write-us {
  width: 960px;
  padding-left: 98px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-top: 66px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0,1,1,0.75);
  position: fixed;
  left: 50%;
  margin-left: -480px;
  bottom: 180px;
  z-index: 2;
  display: none;
}
@keyframes bounce {
  0% { transform: translateY(2000px);}
  70% {transform: translateY(-100px);}
  90% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}
.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}
.modal-write-us__p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 41px;
}
.modal-write-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-write-form label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 9px;
}
.form-write-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}
.modal-write-form__inf {
  width: 360px;
  margin: 0;
  margin-right: 40px;
}
.modal-write-form__inf:nth-child(2n) {
  margin-right: 0;
}
.form-inf {
  width: 362px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid #d7dcde;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 13px;
  padding-bottom: 15px;
}
.form-inf::placeholder {
  color: #a1a1a1;
}
.form-inf:hover {
  border-color: #b4b9bb;
}
.form-inf:focus,
.form-inf:focus::placeholder {
  border-color: #000;
  color: #000;
}
.form-inf:invalid,
.form-inf:invalid::placeholder {
  border-color: #e74246;
  color: #e74246;
}
.modal-write-form__usertext {
  margin: 0;
}
.modal-write-form__usertext textarea {
  width: 760px;
  min-height: 118px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  box-sizing: border-box;
  resize: none;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  margin-bottom: 37px;
}
.modal-write-form__usertext textarea:hover {
  border-color: #b4b9bb;
}
.modal-write-form__usertext textarea:focus,
.modal-write-form__usertext textarea:focus::placeholder {
  border-color: #000;
  color: #000;
}
.form-write-btn {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  width: 260px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.form-write-btn:hover {
  background-color: #e74246;
}
.form-write-btn:active {
  background-color: #d7373b;
  border-color: #d7373b;
  border-top-color: #c13135;
  border-top-width: 3px;
  border-bottom-width: 0;
  color: rgba(255,255,255, 0.3);
  padding-bottom: 14px;
}
.btn-close {
  position: absolute;
  border: 0;
  right: 80px;
  top: 69px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
}
.btn-close::before,
.btn-close::after {
  content: "";
  width: 5px;
  height: 27px;
  position: absolute;
  background-color: #fecccd;
  top: 5px;
  left: 17px;
}
.btn-close:hover::before,
.btn-close:hover::after {
  background-color: #fb565a;
}
.btn-close:active::before,
.btn-close:active::after {
  background-color: #ffeeee;
}
.btn-close::before {
  transform: rotate(-45deg);
}
.btn-close::after {
  transform: rotate(45deg);
}
